@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --breakpoint-3xl: 1920px;
}



body {
  color: var(--foreground);
  background: var(--sds-color-text-utilities-text-on-measurement); 
}
